body {
    width: 900px;
    height:: auto;
    margin: auto;
    padding: 20px;
}

header {
    width: 100%;
    height: 150px;
}

img.logo {
    width: 200px;
    height: 110px;
    float: left;
    margin: 0 50px 0 0;
}

nav {
    float: right;
    margin: 60px 0;
}

nav ul li {
    display: inline;
    margin: 10px 10px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    background: #FFCC00;
    color: #000;
    border-radius: 5px;
}
li a:hover {
    background: #FF9900;
}

div.content {
    clear: both;
    margin: 30px 0;

}
div.content1 {
    clear: both;
    margin: 30px 0;
    text-align: center;
}
#main img {
    width: 50%;
    margin: 0 20px 0 0;
    float: left;
}
#welcomemsg{
    margin-top: 80px;
    width: 850px;
    margin-left: 70px;

}

div.row {
    clear: both;
    width: 100%;
}

article.minor {
    width: 30%;
    float: left;
    margin: 30px 30px 0 0;
}

article.minor img {
    width: 100%;
    margin: 0 20px 0 0;
    float: left;
}

.link a {
    text-decoration: none;
    background: #557EBF;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

  div.vyber {
    margin-left: -200px;
    clear: right;

  }

  h1{
    text-decoration: underline;

  }


  .article{
    padding: 10px;
    font-size: 25px;

  }

  .autor{
    font-style: italic;
    font-weight: bold;

  }

  div.kontakt{
    margin-top: 200px;
    height: 1050px;
    border: solid black 5px;
    text-align: center;
    width: 100%;



  }


  img.anonym {
      width: 200px;
      height: 150px;
      float: left;


  }

  img.kontaktpng{
      margin-left: 150px;

  }


  .left{
    padding: 80px;
  }
  .left2{
    float: left;
  }
  .left3{
    padding-top: 230px;
    text-align: center;
    font-size: 45px;

  }

  p.welcome{
    font-size: 80px;

  }

  img.logoa {
      width: 200px;
      height: 110px;
      float: left;
      margin: 0 0 50px -150px;
  }


  textarea{
    padding: 15px 15px;
    border-radius: 6px;
    border: solid black 2px;

  }

  input[type=text] {
    padding: 5px 5px;
    border-radius: 6px;
    border: solid black 2px;


  }
  input[type=submit] {
    text-decoration: none;
    background: #557EBF;
    padding: 10px 10px;
    border-radius: 6px;
    color: #fff;


  }
  input[type=submit]:hover {
    transform: scale(1.1);
    transition: opacity .55s ease-in-out;
}

 input[type=reset] {
  text-decoration: none;
  background: #FF0000;
  padding: 10px 15px;
  border-radius: 6px;
  color: #fff;


}
 input[type=reset]:hover {
  transform: scale(1.1);
  transition: opacity .55s ease-in-out;
}

 select {
   padding: 6px 10px;
   border-radius: 6px;


}
  div.profil{
    margin-top: 150px;
    margin-left: 400px;


  }
